.book-form {
  width: 100%;
  max-width: 900px;
  margin: 30px 0;
}

.book-form__title {
  margin-block-end: 20px;
}

.book-form__title i {
  font-size: 25px;
}

.book-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.authors-field {
  grid-column: 1 / 3;
}

.book-form__field label {
  display: block;
}
.add-author {
  border: none;
  border-radius: 4px;
  background: none;
}

.book-form__authors-list {
  width: 100%;
  display: flex;
  gap: 8px 10px;
  flex-wrap: wrap;
  margin: 8px 0;
}

.book-form__authors-list-item {
  background-color: seagreen;
  border: none;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 25px;
  padding: 0 10px;
  font-size: 14px;
  color: #fff;
}

.book-form__authors-list-item button {
  margin-left: 7px;
  color: #fff;
}

.book-form__buttons {
  grid-column: 1 / 3;
}

.book-form__buttons button {
  float: right;
}

.book-form__buttons-submit {
  margin-right: 10px !important;
}

.book-form__field.error label{
  color: red;
}

.book-form__field.error .std-input-wrap {
  border-color: red;
}